.points {
  padding: 10px 0;
  color: rgb(255, 255, 255);
  text-align: left;
}

.points form {
  margin: auto;
  max-width: 280px;
  color: #000;
}
.Suivant {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  padding: 10px 0;
  color: rgb(255, 255, 255);
  text-align: left;
}
